.movieList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.movieCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  

}

.img { 
	transition: all .2s ease-in-out; 
  display: flex;
}
.img:hover { 
    	transform: scale(1.2); 
    }
.body{
  display: flex;
  flex-direction: column;
  align-items:center;
  background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #242323 360%); 
  background: -moz-linear-gradient(360deg, #1C1C1C 10%, #242323 360%); 
  background: linear-gradient(360deg, #1C1C1C 10%, #242323 360%);
}
.searchRate{
  margin-left: 80%;
}
/* #2b2a2a */